
  .mosaic-loader {
    margin: auto;
    margin-top: 10%;
    --cell-size: 120px;
    --cell-spacing: 1px;
    --border-width: 1px;
    --cells: 3;
    --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
    display: flex;
    flex-wrap: wrap;
    width: var(--total-size);
    height: var(--total-size);
    transform:rotateX(60deg) rotateZ(45deg) translateZ(-1em);
    transform-style: preserve-3d;

  }
  .mosaic-loader > .cell {
    --cell-color: white;
    flex: 0 0 var(--cell-size);
    margin: var(--cell-spacing);
    background-color: transparent;
    box-sizing: border-box;
    border: var(--border-width) solid var(--cell-color);
    animation: 1.8s ripple ease infinite;

  }
  .mosaic-loader > .cell.d-1 {
    animation-delay: 200ms;
  }
  .mosaic-loader > .cell.d-2 {
    animation-delay: 400ms;
  }
  .mosaic-loader > .cell.d-3 {
    animation-delay: 600ms;
  }
  .mosaic-loader > .cell.d-4 {
    animation-delay: 800ms;
  }
  .mosaic-loader > .cell.d-5 {
    animation-delay: 1000ms;
  }
  .mosaic-loader > .cell.d-6 {
    animation-delay: 600ms;
  }
  .mosaic-loader > .cell:nth-child(1) {
    --cell-color: #4f4fa4;
  }
  .mosaic-loader > .cell:nth-child(2) {
    --cell-color: #5f5fb4;
  }
  .mosaic-loader > .cell:nth-child(3) {
    --cell-color: #6f6fc4;
  }
  .mosaic-loader > .cell:nth-child(4) {
    --cell-color: #FE00FF;
  }
  .mosaic-loader > .cell:nth-child(5) {
    --cell-color: #ff41ff;
  }
  .mosaic-loader > .cell:nth-child(6) {
    --cell-color: #ff6bff;
  }
  .mosaic-loader > .cell:nth-child(7) {
    --cell-color: #F6FF00ff;
  }
  .mosaic-loader > .cell:nth-child(8) {
    --cell-color: rgb(247, 253, 69);
  }
  .mosaic-loader > .cell:nth-child(9) {
    --cell-color: rgb(250, 255, 119);
  }
  
 
  @keyframes ripple {
    0% {
      background-color: transparent;
    }
    30% {
      background-color: var(--cell-color);
    }
    60% {
      background-color: transparent;
    }
    100% {
      background-color: transparent;
    }
  }


 
