.sidemenu-nav__cont {
    position: fixed;
    display: flex;
    width: 100px;
    height: 55vh;
    top: 20vh;
    z-index: 100;
    background-color: rgba(32, 32, 46, 0.8);
    overflow: hidden;
    transition: width 0.3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
  }
  .sidemenu-nav__cont:hover {
    width: 250px;
  }
  @media screen and (min-width: 600px) {
    .sidemenu-nav__cont {
      width: 100px;
    }
  }
  
  .sidemenu-nav {
    list-style-type: none;
    color: white;
  }
  .sidemenu-nav:first-child {
    padding-top: 1.5rem;
  }
  
  .sidemenu-nav__items {
    padding-bottom: 4rem;
    font-family: "roboto";
  }
  .sidemenu-nav__items a {
    position: relative;
    display: block;
    top: -35px;
    padding-left: 25px;
    padding-right: 15px;
    transition: all 0.3s ease;
    margin-left: 25px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-family: "roboto";
    font-weight: 100;
    font-size: 1.35em;
  }
  .sidemenu-nav__items a:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    background: radial-gradient(circle at 94.02% 88.03%, #4f4fa4, transparent 100%);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -10;
  }
  .sidemenu-nav__items:hover a:after {
    opacity: 1;
  }
  .sidemenu-nav__items svg {
    width: 26px;
    height: 26px;
    position: relative;
    left: -25px;
    cursor: pointer;
  }
  .sidemenu-nav__items img{
    width: 26px;
    height: 26px;
    position: relative;
    left: -25px;
    cursor: pointer;
  }
  @media screen and (min-width: 600px) {
    .sidemenu-nav__items img {
        width: 32px;
        height: 32px;
        left: -40px;
      }
    .nav__items svg {
      width: 32px;
      height: 32px;
      left: -40px;
    }
  }
  
  